# Chapter 3 
#### Built-in Data Structures, Functions and Files

In [ ]:
''' 
Other sites
https://www.kaggle.com/learn/python 
https://greenteapress.com/wp/think-python-2e/

'''

In [2]:
tup = tuple("string") #Because it is in (), it's a tuple
tup

#Tuples do not have to contain all of the same type! they can store any type of Python objects.
#They are also IMMUTABLE! Lists ARE mutable though!

('s', 't', 'r', 'i', 'n', 'g')

In [3]:
type(tup)

tuple

In [2]:
tup[3]

'i'

In [5]:
# If an object inside a tuple is mutable, such as a list, you can modify it in place:
tup = tuple(['foo', [1, 2], True])
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [7]:
# you can concatenate tuples
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [9]:
('foo', 'bar') * 3  # The objects themselves are not copied, only the references to them

('foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [11]:
tup = (4, 5, 6)
a, b, c = tup

c

6

In [14]:
tup = 4, 5, (6, 7) #a tup nested within a tuple . This and the above can help you swap variable names
a, b, (c, d) = tup
c

6

In [16]:
# example of switching variables names
a, b = 1, 2
a

1

In [17]:
b, a = a, b #Now the values have switched, compared to above/16  This can also be called 'variable unpacking'
b

1

In [5]:
#WTF is this. "unpacking", pg. 53
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)] # a list of tuples
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [6]:
values = 1, 2, 3, 4, 5
a, b, *rest = values # *rest is used to 'pluck' a few elements from the beginning of a tuplee
a, b

rest # can be anything (?) doesn't have to be called (rest?...THAT is the variable name)

[3, 4, 5]

In [22]:
values = "chicken", "donkey", "tennis"
c, d, *rest = values
c, d

rest #the rest of the sequence, aside from the 2 or however many you just declared (in this case c, d)

#Instead of *rest, you can just us *_   
#Tis the same

['tennis']

In [25]:
#pg. 54, what are instance methods? ANSWER = how many instances something occurs, e.g. how many i's are there

dina = (2, 4, 6, 8, 8, 8, 2, 6, 6, 5, 2, 4)
dina.count(2) #this tells you how many times the number 2 occurs in the tuple called 'dina'

3

In [ ]:
#Don't forget the 'tab' autocomplete method in Jupyter Notebook, 
# where is shows you all the possible 'methods'/actions 
tup. #press tab, see what happens! Shows all possible syntax/methods

In [45]:
# Everything thus far has only applied to tuples, but LISTS are a bit diff and more malliable
# Lists are defined using square brackets, or using the list function type 

a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list #transforms the tuple into a list ????? pg 54

['foo', 'bar', 'baz']

In [41]:
b_list[1] = 'peekaboo'  #this changes the SECOND item in the list , because in programming, 0 is the
# first value, and 1 is the second omg. 
b_list

['foo', 'peekaboo', 'baz']

In [36]:
 # ??????????? pg 54, wtf does this mean 
#"The list  function is frequently used in data processing as a way to 
#materialize an iterator or generator expression:"

#ANSWER: A generator expression is function that produces a seuqnce of results, instead of a single value. like 1:30, which gives all values from 1 to 30
#ANSWER: An iterator expression is...? produces a lot of numbers? e.g. wiki Fibonacci example. A generator is a type of iterator

gen = range(10) #common to us this in For Loops
gen

list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
type(gen) #to check what type
#see that it is just a range, not a list, so yneed to convert to a list if you want to make it mutable

In [46]:
#Adding elements
# Can also use b_list.insert
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [47]:
#Removing elements
b_list.remove('foo')  # also use the pop function to remove!
b_list

['bar', 'baz', 'dwarf']

In [49]:
'dwarf' not in b_list # can also use just "in" to see if the value is in _X_
True

True

In [51]:
#Concatenating and combining lists, use + , OR see below...this is the preferred way, using extend
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])  # Extend is the best, esp. for large list. less expensive/time consuming
x                       # but it is also possible to use the ' + ' operator

[4, None, 'foo', 7, 8, (2, 3)]

In [53]:
#Sorting
a = [7, 2, 5, 1, 3]
a.sort()   # puts it in order!
a

[1, 2, 3, 5, 7]

In [54]:
# You can create sort keys - aka the key for HOW the items in the list should be sorted
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key = len)  #sorts the list by character length
b

['He', 'saw', 'six', 'small', 'foxes']

In [69]:
# ????? pg, 57 WTF is binary search
# bisect.bisect finds the location where an element should be inserted to keep
# so for example,  

import bisect
c = [1, 2, 2, 2, 3, 4, 7]

bisect.bisect(c, 2) # this is saying, where in the list/which position should this additional 2 be placed?
#when printed, it say position 4 (with in mind that 0 is the first position)

bisect.insort(c, 6) #stick in the 6, whether the list is sorted or not
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [65]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 5) # This would take the place of 6 omg

6

In [8]:
# Slicing
seq = [7, 2, 3, 7, 5, 6, 0, 1]
print(seq[1:5]) # print the 2nd to 5th numbers...remember, 0 is the first value lol
print(seq)

[2, 3, 7, 5]
[7, 2, 3, 7, 5, 6, 0, 1]

In [10]:
# Omit the start #whut---
print(seq)
print(seq[:3])
print(seq[4:]) # omit the end (????)

[7, 2, 3, 7, 5, 6, 0, 1]
[7, 2, 3]
[5, 6, 0, 1]

In [77]:
seq[3:4] = [6, 3] # WHAT THIS DOES: replaced the 4th and 5th values of seq with the numbers 6 and 3
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [87]:
seq[-4:] #Negative slicing; slicing at the end

[5, 6, 0, 1]

In [11]:
seq[::2] # this means, every other element, A step/after every other

[7, 3, 5, 0]

In [4]:
## Built in sequence FUNCTIONS
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i

    
mapping  # Get a different output than what is on pg 60 ?? The book seems to output it in alphabetical order

{'foo': 0, 'bar': 1, 'baz': 2}

In [6]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [7]:
# zip 'pairs' up the elements of a numbed of lists, tuples, or other sequences to create a list of tuples

seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)

list(zipped)

# This would be great for things like, if List A is the first names, and List B is the last names

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [8]:
# With zip, it will out put the same number of items as the SHORTEST sequence, so:
seq3 = [False, True]
list(zip(seq1, seq2, seq3)) # This produces only 2 lists, instead of three, because the shortested seq only has 2 items

[('foo', 'one', False), ('bar', 'two', True)]

In [9]:
# A common use for zip: iterating over multiple sequenecs.... WTF does this mean ???
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))
    
# Column 1 is the "i" defined above, Column 2 is seq1, and Column 3 is seq2

0: foo, one
1: bar, two
2: baz, three

In [15]:
# You can also "unzip" a sequence (aka conver a list of rows into a list of columns)

pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')] # this is the zipped version

# here is the unzipped version
first_names, last_names = zip(*pitchers)

first_names

('Nolan', 'Roger', 'Schilling')

In [16]:
last_names

('Ryan', 'Clemens', 'Curt')

In [18]:
# reversed - iterates over the elements of a sequence in reverse order
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [19]:
# dict, for key values and pairs
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [20]:
#Elements can be set, inserted and accessed in the same way you do for lists/tuples
d1[7] = 'an integer' #add as 7, includes the string 'an integer'. keys : and their elements
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [22]:
d1['b']

[1, 2, 3, 4]

In [23]:
# To check whether oa list/tuple containts a value
'b' in d1

True

In [29]:
# deleting values
d1[5] = 'some value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value',
 5: 'some value'}

In [30]:
d1['dummy'] = 'another value' #where dummy is the key, and Ã¡nother value is the content/element/item
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value',
 5: 'some value'}

In [31]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [32]:
# another way of deleting, aka the POP method
ret = d1.pop('dummy')
ret

'another value'

In [33]:
d1 # no we see that the \dummy has been popped/deleted

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [34]:

list(d1.keys())

['a', 'b', 7]

In [35]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [36]:
# merging dicts by using update
d1.update({'b' : 'foo', 'c' : 12}) # also replaces B with the new items
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [40]:
#dict supports adding a collection of 2-tuples
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [41]:
# Default Values -  (an example ...)
'''
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value
'''

'\nif key in some_dict:\n    value = some_dict[key]\nelse:\n    value = default_value\n'

In [43]:
# Default Values
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

#creating/organising is so that Keys are now by letter for the list of words in 'words'
for word in words:   
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [44]:
# The above can also be written as:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)
by_letter 


# Can also use the following
'''
from collections import deafultdict
by_letter = deafultdict(list)
for word in words: 
    by_letter[word[0]].append(word)

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [ ]:
# Valid dict type: check if it is poassible to be used as a key, aka "hasable" ?????? pg 64
# basically, if u get an error, when you use hash() , it is not a valid dict type/value
?????????????

In [46]:
# If you want to use a list as a key, one option is to turn it into a tuple, so its hashable
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [47]:
# a set: an unordered collection of unique elements (like a dict, but with Kets only and no values...)
set([2, 2, 2, 1, 3, 3]) # output shows, in order, all the values that pop up, e.g., there is a 1, 2 & 3


# you can also just input: {2, 2, 2, 1, 3, 3} and get the same output!
# you can also use mathematical operators with sets, see below for examples

{1, 2, 3}

In [48]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8} # you can combine this two either with 'union' or the binary operator

# a.union(b) - OR

a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
# the intersection function shows which elements occur in BOTH sets. can use this or the & operator

# a.intersection(b) does the same as:

a & b

# See table 3-1 on pg 66 for more on these functions and alternative syntax

{3, 4, 5}

In [50]:
# Can replace the contents of a set with thwat is on the left side..._???? pg 66
c = a.copy()
c |= b   # means the same as c.update(b)

c

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
d = a.copy()
d &= b  #the same as d.intersection(b) to show which common values there are in sets d and b
d

{3, 4, 5}

In [52]:
# Sets are generally immutable, and if u have list like elements (aka mutable), u need to convert to a tuple
my_data =[1, 2, 3, 4]
my_set = {tuple(my_data)} #convert the list to a tuple
my_set

{(1, 2, 3, 4)}

In [53]:
# Check if a set is a subset (is contained within) or a superset (contains ALL elements) of another set
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [55]:
a_set.issuperset({1, 2, 3})

True

In [56]:
#Sets are equal if and only if their contents are equal
{1, 2, 3} == {3, 2, 1}

True

In [ ]:
# List comprehensions - a Python feature to transfor elements in a list, and filtering out elements
# [expr for val in collection if condition] which is the same as writing a for loop like below
'''
result = []
for val in collection:
    if __condition:
    result.append(expr)

In [57]:
# Example: filter out strings with a lenth of 2 or les:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [ ]:
# There are also set and dic comprehensions that looks like the following:
'''
dict_comp = {key-exp : value-expr for value in collection
    if condition}
    
set_comp = {expr for value in collection if condition}

In [58]:
# if we wanted set that JUST contained lengths of the strings in that collection:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [59]:
# creating a lookup map (?????? pg. 68) for these strings to their locations in the list
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [67]:
# Nested list comprehensions
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], 
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']] 
# You want to get a single list containing all names with two or more e's in them. there are 2 ways to do this

# Option 1 - a for loop
'''
names_of_interest = []                         #LIST that's why brackets
for names in all_data:
    enough_es = [name for name in names if name.count('e' >=2)]
    names_of_interest.extend(enough_es)
'''

# Option 2 - OR use a nested list comprehension:
result = [name for names in all_data for name in names
    if name.count('e') >= 2] 

result

['Steven']

In [69]:
# another example of 'flattening' a list of typles of integers into a simple list (?????? pg. 69)
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flatten = [x for tup in some_tuples for x in tup]
flatten


# this would be written in a for loop as:
'''
flatten = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
# FUNCTIONS - an example for how they are written
def my_function(x, y, z = 1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)


# Each function can have positional agruments, and keyword arguments - which are most common
# Above, x and y are positional arguments, and z is a keyword argument.

my_function(10, 20)

45.0

In [76]:
# Returning multiple values
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()
# could also have done return_value = f(), and it would be a 3/tuple with the three returned variables
# You can also make it return a dict instead! 

def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' ; c}

In [77]:
# Functions are objects!
states = ['     Alabama', 'Georgia!', 'Georgia', 'georgia', 'Fl0rida', 'south carolina##', 
          'West virgina?']

#need to use re package, for regex cleaning AHH

import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

clean_strings(states)  # how did florida get fixed in the book, but not in my example?????????? pg 72

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'South Carolina',
 'West Virgina']

In [79]:
# Alternatively, a list of operations could have been written...as a list of the operations we wanted
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)
clean_ops = [str.strip, remove_punctuation, str.title]

def clean_stringz(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

clean_stringz(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'South Carolina',
 'West Virgina']

In [ ]:
# Lambda functions - aka 'anonymous' function, writing them in a signle statment
# an example below

def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [ ]:
'''
def identity(x):
    return x
'''
# Is the same as:

lambda x: x 

# Lambda is the keyword,  
# A bound variable of x
# A body: x

# more on lambda functions here: https://realpython.com/python-lambda/

In [1]:
# Lambda example

# lambda x: x + 1

(lambda x: x + 1)(2)  # in other words: lambda 2: 2 + 1

3

In [2]:
# another lambda example
add_one = lambda x: x + 1
add_one(3)

'''
The equivalent function is written as:

def add_one(x):
    return x + 1

4

In [4]:
# another lambda example, but with strings!
full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
full_name('jimi', 'hendrix')

'Full name: Jimi Hendrix'

In [5]:
(lambda x, y : x + y)(2, 3)   # left side of : is the input, right side is functionality

5

In [7]:
# ANOTHER example, but from the book! For sorting strings
strings = ['foo', 'card', 'bar', 'aaa', 'abab']
strings.sort(key = lambda x: len(set(list(x)))) # WHAT ???? pg 74

# Still don't understand how the above works???
#What is the point of the lambda, when you can just do strings.sort() ????

strings

['aaa', 'foo', 'abab', 'bar', 'card']

In [10]:
strings2 = ['foo', 'ccard', 'bar', 'aaa', 'abab']
strings2.sort()
strings2

['aaa', 'abab', 'bar', 'ccard', 'foo']

In [ ]:
# Currying - deriving new functions from exisitings ones by partial arg. applicat.
# an example of curryining:

def add_numbers(x, y):
    return x + y

# and then doing:
add_five = lambda y: add_numbers(5, y)  #this is CURRYING as it builds off the previous function


# you could also use a built in to to "curry" easier
from functools import partial
add_five = partial(add_numbers, 5)

In [11]:
# iterator protocol...??? a generic way to make objects iterable
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [16]:
# Generator - con concise way to construct a new iterable object,
# uses the keyword yield instead of return in a function

def squares(n = 10):
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1, n + 1):
        yield i ** 2

gen = squares()
gen   # This won't actually output anything useful, until...SEE BELOW

for x in gen:
    print(x, end=' ')  ## ?????????????  pg 75

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [14]:
# info on generators in general:
'''
https://realpython.com/introduction-to-python-generators/ 
'''

# Generators are used for big data files. e.g. counting the no. of rows
def csv_reader(file_name):
    for row in open(file_name, "r"):
        yield row  #It loops through and YIELDS each row instead of returning it, much faster.
        
        
# You could also do:
csv_gen = (row for row in open(file_name))

'''
def infinite_sequence():
    num = 0
    while True:
        yield num
        num += 1
        
# The above is more more efficient than a typical for loop:
for i in infinite_sequence()
    print(i, end=" ")


'''

NameError: name 'file_name' is not defined

In [15]:
# Generator expressions
gen = (x ** 2 for x in range(100))
gen  ## What is the point of this output???????????????? pg 76

# The above is the equivalent to :
'''
def_make_gen():
    for x in range(100):
        yield x ** 2
gen =

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-15-e4abbe56877f>, line 11)

In [17]:
# itertools module - itertools is a lib with generators...useful functions, like groupby

import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator!
    
    
# See Table 3.2 on pg 77 for more useful functions from itertools

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [ ]:
# Errors and Exception Handling (exception = error)
## ???? wtf is a 'try/except' block